a {
    text-decoration: none;
    color: lightblue;
}

h1 {
    color: white;
    margin-top: 20px;
}

.card {
    margin: 20px 0;
    background: #ee9127;
    color: white;
    border-radius: 15px;
    overflow: hidden;
    height: 400px;
}

.icons {
    background: white;
    font-size: 18em;
}

#fb {
    color: #3b5998;
}

#github {
    color: #333;
}

#email-logo {
    color: lightskyblue;
}

#phone-number {
    color: lightpink
}